# IDE
.vscode/
.idea/

# Node modules
**/node_modules/
**/vendor/


# Build outputs
**/dist/
**/.next/
**/build/
**/out/



# Environment files
.env
.env.local
.env.*.local



# Logs
logs
*.log   
npm-debug.log*

# MacOS
.DS_Store

# Docker
**/docker-compose.override.yml
**/*.env


# Temporary files
tmp/
*.swp

# Compressed files
*.zip
*.tar.gz
*.rar
*.7z

